<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Informações Adicionais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="contact">
  <ion-card>
    <ion-card-header>
      <img [src]="contact.image">
    </ion-card-header>
    <ion-card-content>
      <div>
        <ion-label>{{ contact.name }}</ion-label>
        <ion-item lines="none">
          <ion-label>E-mail: {{ contact.email }}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label>CPF: {{ contact.id }}</ion-label>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
