<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>DADOS ADICIONAIS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="contact">
  <ion-card>
    <ion-card-header>
      <img [src]="contact.image">
    </ion-card-header>
    <div class="icons">
      <div class="call">
        <ion-icon color="primary" name="call"></ion-icon>
        <span>Chamar</span>
      </div>
      <div class="message">
        <ion-icon color="danger" name="mail"></ion-icon>
        <span>Mensagem</span>
      </div>
      <div class="chat">
        <ion-icon color="success" name="logo-whatsapp"></ion-icon>
        <span>Conversar</span>
      </div>
    </div>
    <ion-card-content>
      <div class="contact-info">
        <ion-card-title> {{ contact.name }} </ion-card-title>
        <ion-label>E-mail: <span>{{ contact.email }}</span></ion-label>
        <ion-label>CPF: <span>{{ contact.id }}</span></ion-label>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>