<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-icon slot="start" (click)="goTo('/home')"></ion-icon>
    <ion-title class="ion-text-center">Informações Adicionais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="contact">
    <img [src]="contact.image"/>
    <ion-card-header>
      <ion-card-title>{{ contact.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <p> {{ contact.name }} </p>
          <p> {{ contact.email }} </p>
          <p> {{ contact.id }} </p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
