<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Contatos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let contact of contactsInfo" (click)="goTo(contact)">
    <ion-avatar slot="start">
      <img
        [src]="contact.image" />
    </ion-avatar>
    <div class="item-info">
      <ion-label>
        <h2> {{ contact.name }} </h2>
        <p> {{ contact.email }}</p>
      </ion-label>
    </div>
    <ion-icon slot="end" name="arrow-forward"></ion-icon>
  </ion-item>
</ion-content>
