<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Contatos
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--  -->
<ion-content [fullscreen]="true">
  <ion-searchbar (input)="filterContacts($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let contact of contactFilter" (click)="goTo(contact)" lines="none">
      <ion-thumbnail slot="start">
        <img [src]="contact.image">
      </ion-thumbnail>
      <div>
        <ion-label>{{ contact.name }}</ion-label>
        <ion-label>{{ contact.email }}</ion-label>
        <ion-label>{{ contact.id }}</ion-label>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
